{% extends "_layouts/base.html" %}

{% block title %}
{{videojuego.titulo}} | {{ super() }}
{% endblock %}


{% block content %}
<!--detalles de un videojuego-->
<div class="Cuarta container">
  <!--pequeña descripcion-->
  <div class="Septima jumbotron">
    <div class="container">
			<div class="row">
				<!--imagen de un videojuego-->
				<div class="col-md-3">
					<div class="Tercera thumbnail">
						<img src="{{cover}}" alt="{{videojuego.titulo}}" style="width:100%;">
					</div>
				</div>
				<!--fin imagen de un videojuego-->
				<!--caracteristicas-->
					<div class="col-md-9 row">
						<div class="col-md-4">
							<h3>
								<span class="label label-primary">{{videojuego.titulo}}</span>
							</h3>
							
						 </div>
						 <div class="col-md-4">
							 <h4>
								 Puntuación: {{videojuego.puntnMedia}}
							 </h4>
						 </div>
						 <div class="col-md-4">
							 
								<form name="puntuacion" method="POST" action="{{  url_for('detalles',name=videojuego.titulo, pk=videojuego.id)}}">
									<div class="form-group row ">	
										<div class="col-md-4">
											{{ analisForm.puntuacion(class="form-control", id="user_puntuacion", value='', required="required", placeholder="10", type="text") }}
										</div>
										<button id="user_puntuacion" class="btn btn-success" name="userPuntuacion[puntuacion]" type="submit" >Puntuar</button>
												
									</div>

								</form>
							
						 </div>
					</div>
					<div class="col-md-9 row">
						<div class="col-md-4">
							<h3>
								Plataformas
							</h3>
							
							<ul class="list-group">
								{% for plataforma in plataformas %}
									<li class="list-group-item">
											{{ plataforma.nombre }}
									</li>
									{% endfor %}
							</ul>
						 </div>
						 <div class="col-md-4">
							 <h3>
								 Desarrolladora
							 </h3>
						 </div>
						 <div class="col-md-4">
							 <h3>
									Géneros
							 </h3>
						 </div>
					</div>
					<div class="col-md-9 row col-md-offset-10">
						<form name="jugado" method="POST" action="{{ url_for('jug_des',name=videojuego.titulo, select=0, noselect=1 ) }}">
								<div class="form-group row ">	
								<button id="user_jugado" class="btn btn-success" name="userJugado[jugado]" type="submit" >Jugado</button>
								</div>
						</form>
						<form name="deseado" method="POST" action="{{ url_for('jug_des',name=videojuego.titulo, select=1, noselect=0 ) }}">
								<div class="form-group row ">	
								<button id="user_deseado" class="btn btn-success" name="userDeseado[deseado]" type="submit" >Deseado</button>
								</div>
						</form>
					</div>
				</div>
        <!--fin caracteristicas-->
				
      </div>
    </div>
</div>
<div class="container">  
	<h3>Análisis</h3>
  <hr>
	<div class="panel panel-default">
		{% for obj in listAnalis %}
  <div class="panel-heading">
    <h3 class="panel-title">{{ obj.user }}</h3>
  </div>
  <div class="panel-body">
		<div>
			<p>
				{{ obj.analisis }}
			</p>
				<ul class="list-group">
					<h4>Comentarios</h4>
					{% for coment in obj.coments %}
					<li class="list-group-item">
							{{ coment.comentario }}
					</li>
					{% endfor %}
				</ul>
		</div>
		<div class="container">
		<form name="comentario" method="POST" action="{{ url_for('detalles',name=videojuego.titulo, pk=obj.id ) }}">
			<div class="form-group row ">	
				<div class="col-md-10">
				{{ analisForm.comentario(class="form-control", id="user_comentario", required="required", placeholder="Escribir un comentario",  type="text") }}
				</div>	
				<div class="col-md-2">
					<button id="user_comentario" class="btn btn-primary" name="userComentario[comentario]" type="submit" >Comentar</button>
				</div>			
			</div>
			
		</form>
	</div>
  </div>
	{% endfor %}
	</div>
	<div class="container">
		<form name="analisis" method="POST" action="{{  url_for('detalles',name=videojuego.titulo, pk=videojuego.id)}}">
			<div class="form-group row ">	
				<div class="col-md-10">
				{{ analisForm.analisis(class="form-control", id="user_analisis", value='', required="required", placeholder="Escribir un analisis",  type="text") }}
				</div>	
				<div class="col-md-2">
					<button id="user_analisis" class="btn btn-primary" name="userAnalisis[analisis]" type="submit" >Analizar</button>
				</div>			
			</div>
			
		</form>
	</div>
 
</div>
<!--fin detalles de un videojuego-->
{% endblock %}
