{% extends "_layouts/base.html" %}

{% block title %}
Index | {{ super() }}
{% endblock %}


{% block content %}
<div class="Cuarta container">
  <div>
    <h1 class="Letter">Listado de videojuegos</h1>
    <form class="navbar-form navbar-left row" name="busqueda" method="POST" action="{{ url_for( 'indexBusqueda' ) }}">
      <div class="form-group">
        {{ busquedaForm.busqueda(class="form-control", id="busqueda", placeholder="titulo o género o plataforma", required="required", type="text") }}
      </div>
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
  <!--div class="btn-group" role="group" >
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ordenar
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Plataforma</a></li>
          <li><a href="#">Genero</a></li>
          <li><a href="#">Ordenacion 3</a></li>
        </ul>
      </li>
    </div>
  </div-->
   <div class="row">
     {% include "_modules/paginaLista.html" %}
   </div>
   
    
  <div class="Septima jumbotron">
    
    <div class="row">
      {% for videojuego in videojuegos.items %}
      <div class="col-md-3">
        <div class="Tercera thumbnail">
          <a href="{{ url_for('details',name=videojuego.titulo, pk=videojuego.id) }}" class="">
            {% if videojuego.picture %}
              <img src="{{videojuego.picture}}" alt="imagen" style="height:100px; width:100%;">
            {% endif %}
          </a>
          <div class="caption">
            <a href="{{ url_for('details',name=videojuego.titulo, pk=videojuego.id) }}" class="">
              <h4><span class="label label-primary">{{videojuego.titulo}}</span></h4>
              Puntuación: {{videojuego.puntnMedia}}
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
   {% include "_modules/paginaLista.html" %}
 
</div>
{% endblock %}
