{% extends "_layouts/base.html" %}

{% block title %}
PerfilUsuario | {{ super() }}
{% endblock %}


{% block content %}
<div class="container-fluid">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-md-8">
      <h1 class="text-left">
        Perfil de {{user.nick}}
      </h1>
      <hr>
      <div class="row">

        <div class="col-md-3">
          <img alt="Bootstrap Image Preview" src="{{user.avatar}}"/ width=200 height=200><br/></br>
          

        </div>
        <div class="col-md-9">

          <p><b>Nick:</b><br>{{user.nick}}<br></p>
          <p><b>Sexo:</b><br>{{user.genero}}<br></p>
          <p><b>Fecha de Registro:</b><br>{{ user.fechaRegistro}}<br></p>
          <p><b>Nombre:</b><br>{{user.nombre}}<br></p>
          <p><b>Descripción:</b><br>{{user.descripcion}}<br></p>


        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!--ACTIVIDAD DEL USUARIO-->
      <h3>
        Actividad
      </h3>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th>
              Tipo
            </th>
            <th>
              Videojuego
            </th>
          </tr>
        </thead>
        <tbody>
         
        </tbody>
      </table>
    </div>
  </div>
  {% if favorites %}
  <div class="container">
    <h2>Lista de deseados</h2>
    <strong>
      <div class="row">
        <div class="col-md-6">Videojuego</div>
        <div class="col-md-3">Fecha</div>
        <div class="col-md-3">Eliminar</div>
      </div>
      <hr style="height:3px;border:none;color:#eee;background-color:#eee;" />
    </strong>
    {% for videojuego in favorites %}
    <form action="{{ url_for('delete_from_list') }}" class="form-inline" method="POST">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            {% if videojuego[0].picture %}
            <div class="col-sm-2 hidden-xs"><img src="{{ videojuego[0].picture }}" alt="..." class="img-responsive"/></div>
            {% endif %}
            <div class="col-sm-100x10010">
              <h4 class="nomargin">quit</h4>
            </div>
          </div>
        </div>
      </div>
      <hr style="height:3px;border:none;color:#eee;background-color:#eee;" />
    </form>
    {% endfor  %}
  </div>
  {% endif %}
</div>
{% endblock %}