{% extends "_layouts/base.html" %}

{% block title %}
PerfilUsuario | {{ super() }}
{% endblock %}


{% block content %}
<div class="container-fluid">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-md-8">
      <h1 class="text-left">
        Mi Perfil
      </h1>
      <hr>
      <div class="row">

        <div class="col-md-3">
          <img alt="Bootstrap Image Preview" src="{{user.avatar}}"/ width=200 height=200><br/></br>
          <form name="mod_img" method="POST" action="{{ url_for( 'mod_img' ) }}">
            <div class="form-group">
              {{ imgForm.imagen(class="form-control", id="user_imagen", placeholder="/url/Imagen/", type="url") }}
            </div>
            <button id="user_imga_but" name="user_imga_but" class="btn btn-default" type="submit">Cambiar imagen</button>
          </form>

        </div>
        <div class="col-md-9">

          <p><b>Nick:</b><br>{{user.nick}}<br></p>
          <p><b>Sexo:</b><br>{{user.genero}}<br></p>
          <p><b>Fecha de Registro:</b><br>{{ user.fechaRegistro}}<br></p>
          <h4 class = "Separador">
            Datos Opcionales
          </h4>
          <p><b>Nombre:</b><br>{{user.nombre}}<br></p>
          <p><b>Descripción:</b><br>{{user.descripcion}}<br></p>

          <a href="/changePassword/"><button type="button" class="btn btn-default">Cambiar contrasena</button></a>
            <a href="/mod_datos/"><button type="button" class="btn btn-default">Modificar datos</button></a>
            <br/><a href="/deletUser/">Eliminar cuenta</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!--ACTIVIDAD DEL USUARIO-->
      <h3>
        Actividad
      </h3>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th>
              Tipo
            </th>
            <th>
              Videojuego
            </th>
          </tr>
        </thead>
        <tbody>
          {% for videojuego in UsuarioVideojuegos %}
            <tr>
              <th>
                <% if videojuego.deseado: %>
                  Deseado
                <% end %>
                <% else: %>
                  Jugado
                <% end %>
              </th>
              <th>
                {{ videojuego.titulo }}
              </th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% if UsuarioVideojuegos %}
    <div class="col-md-4">
      <!--Jugado Deseado-->
      <h3>
        Jugado/Deseado
      </h3>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th>
              Videojuego
            </th>
            <th>
              Jugado/Deseado
            </th>
          </tr>
        </thead>  
        <tbody>
          {% for videojuego in UsuarioVideojuegos %}
          <tr>
            {% if videojuego.deseado == 1 or videojuego.jugado == 1 %}
            <th>
              
                {{ videojuego.titulo }}
              
            </th>
            
            <th>
              {% if videojuego.deseado == 1 %}
                Deseado
              {% endif %}
              {% if videojuego.jugado == 1 %}
                Jugado
              {% endif %}
            </th>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
</div>
{% endblock %}